@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Rubik' , sans-serif;
  background-color:hsl(270, 20%, 96%);

}

.main-container{
  width: 100%;
  height: 100vh;
  background-color: hsl(270, 20%, 96%);
  display: flex;
}

.first-container{
  background-color:hsl(270, 20%, 96%);
  width: 45%;
  height:unset;
  display: flex;
}

.purple-background {
  width:55%;
  height: 87%;
  background: linear-gradient(to top, hsl(264, 100%, 61%),  hsl(293, 84%, 53%)) ;
  margin: 0;
  position:relative;
  border-bottom-left-radius: 170px;
  border-bottom-right-radius: 270px;
}

.phone-container{
  width: 20%;
  height: 80vh;
  background:  hsl(0, 0%, 100%);
  position: absolute;
  top: 50px;
  bottom: 50px;
  right: 925px;
  border-radius: 25px;
  overflow: hidden;
  }

  .phone-container:hover {
    box-shadow: 1px 10px 16px 16px #1111502b;
  }

.phone-inner{
  background-color:hsl(270, 20%, 96%);
  width:92%;
  height: 96%;
  margin: 12px;
  border-radius: 20px;
  overflow: hidden;
}

.sam-div{
  background:linear-gradient(to right, hsl(264, 100%, 61%),  hsl(293, 84%, 53%));
  display: flex;
  padding-bottom: 7px;
  border-radius: 5px;
  position: relative;
}

.sam-div .left-angle{
  width:20px;
  height: 20px;
  border: none;
  margin-left: 8px;
  margin-right: 0px;
}

.sam-div .ellipsis {
  width:20px;
  height: 20px;
  border: none;
  margin-left: 90px;
  margin-right: 0px;
}

.overlay{
  position:absolute;
  width: 45%;
  background:  hsl(0, 0%, 100%);
  top: 10px;
  bottom: 30px;
  top: 0px;
  bottom: 60px;
  left: 75px;
  border-bottom-left-radius: 35px 50px;
  border-bottom-right-radius: 35px 50px;
}


.sam-div img {
  width: 25px;
  height: 25px;
  border-radius: 50px;
  margin-top: 33px;
  margin-left: 3px;
  margin-right: 10px;
  border: 1px solid hsl(0, 0%, 100%);
}

.sam-profile h3{
  font-size: 13px;
  color: hsl(0, 0%, 100%);
  margin-top: 40px;

}

.sam-profile p{
  font-size: 10px;
  color: hsl(270, 28%, 74%);
}

.sam-profile {
  line-height: 3px;
}


.text-1 {
  width: 60%;
  background-color: hsl(292, 73%, 92%);
  border-radius: 10px 14px 12px 4px;
  margin-left: 10px;
}

.text-1 p{
  color:hsl(276, 55%, 52%);
  font-size: 11px;
    line-height: 14px;
    padding: 5px;
}

.text-2 {
  width: 60%;
  background-color:  hsl(292, 73%, 92%);
  border-radius: 10px 14px 12px 4px;
  margin-left: 10px;
}

.text-2 p{
  color:hsl(276, 55%, 52%);
  font-size: 10px;
  line-height: 14px;
  padding: 5px;
}

.dogs{
  width: 67%;
  display: flex;
  justify-content: space-between;
  margin-left: 80px;
}

.dogs img {
  width: 40px;
  height: 35px;
  border-radius: 5px;
}

.text-3 {
  width: 58%;
  background-color:  hsl(0, 0%, 100%);
  border-radius: 13px 13px 1px 10px;
  margin-left: 100px;
}

.text-3 p{
  color: hsl(270, 7%, 64%);
  font-size: 11px;
  line-height: 17px;
  padding: 5px;
}

.text-4 {
  width: 45%;
  background-color:  hsl(0, 0%, 100%);
  border-radius: 13px 13px 1px 10px;
  margin-left: 143px;
}

.text-4 p{
  color: hsl(270, 7%, 64%);
  font-size: 11px;
  line-height: 17px;
  padding: 8px;
}

.text-5 {
  width: 65%;
  background-color: hsl(292, 73%, 92%);
  border-radius: 13px 13px 12px 0px;
  margin-left: 10px;
}

.text-5 p{
  color: hsl(276, 55%, 52%);
  font-size: 11px;
  line-height: 17px;
  padding: 7px;
}

.text-6{
  width: 75%;
  background:linear-gradient(to left, hsl(264, 100%, 61%),  hsl(293, 84%, 53%));
  border-radius: 13px 13px 13px 2px;
  margin-left: 10px;
  height: 8%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.text-6 p{
  color: hsl(0, 0%, 100%);
  font-size: 11px;
}

.text-6 .second-p{
  color: hsl(0, 0%, 100%);
  font-size: 16px;
  font-weight: 600;
}

.text-7{
  width: 75%;
  background:linear-gradient(to left, hsl(264, 100%, 61%),  hsl(293, 84%, 53%));
  border-radius: 13px 13px 13px 2px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 8px;
  height: 8%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.text-7 p{
  color: hsl(0, 0%, 100%);
  font-size: 11px;
}

.text-7 .second-p{
  color: hsl(0, 0%, 100%);
  font-size: 16px;
  font-weight: 600;
}

.btn {
  width: 90%;
  background-color:  hsl(0, 0%, 100%);
  margin: auto;
  height: 7%;
  align-items: center;
  border-radius: 17px;
  display: flex;
  justify-content: space-between;
}

.btn p{
  color: hsl(206, 6%, 79%);
  padding-left: 15px;
  padding-top: 2px;
  font-size: 13px;
}

.btn img {
  width: 35px;
  height: 35px;
  margin-right: 0px;
}

.second-container{
  background-color: hsl(270, 20%, 96%);
  width: 55%;
  height: unset;
  align-items: center;
  display: flex;
  position: relative;
  overflow: hidden;
}

.second-overlay {
    position: absolute;
    width: 40%;
    height: 85%;
    top: 114px;
    left: 510px;
    bottom: 0;
    right: 0;
    background: #ab3dff14;
    border-top-left-radius: 325px;
}
.hp{
   width: 55%;
   height: unset;
   line-height: 17px;
   margin-left: 60px;

}

.hp h1{
  color:  hsl(271, 36%, 24%);
}

.hp p {
  line-height: 23px;
  font-size: 16px;
  color: hsl(270, 7%, 64%);
}

@media screen and (max-width: 1024px){

  .first-container {
      background-color: hsl(270, 20%, 96%);
      width: 57%;
  }

  .second-container{
    width: 55%;
  }

  .hp{
    width: 70%;
    margin-left: 65px;
  }

  .hp h1 {
    margin: 0;
}

  .purple-background {
    width: 65%;
    height: 90%;
    margin: 0;
}

.phone-container {
    width: 30%;
    height: 77vh;
    top: 70px;
    bottom: 50px;
    right: 480px;
}

.text-7 {
  margin-bottom: 10px;
}
}

@media screen and (max-width: 768px){

  .main-container {
    display: block;
    padding-top: 0;
  }

  .first-container {
    width: 100%;
    height: 650px;
}

.phone-inner {
    background-color: hsl(270, 20%, 96%);
    width: 95%;
    margin: 10px;
  }

  .text-7 {
    margin-bottom: 15px;
  }


.purple-background {
    width: 45%;
    height: 600px;
    margin: 0;
    border-bottom-left-radius: 0px 50px;

}


.phone-container {
    width: 45%;
    height: 600px;
    top: 60px;
    bottom: 50px;
    right: 250px;
}

.overlay {
    left: 85px;
  }

.second-container {
  width: 100%;
  padding-left: 0;
  text-align: center;
  height: 220px;
}

.hp {
    width: 100%;
    margin: 40px;
}
}

@media screen and (max-width: 426px){
    .phone-container {
    width: 70%;
    height: 600px;
    top: 65px;
    bottom: 50px;
    right: 60px;

}

.purple-background {
  border-bottom-left-radius: 1px 50px;
}

.first-container {
    height: 700px;
  }

  .overlay {
      left: 76px;
    }

  .second-container {
      margin-top: 0px;
      height: 300px;
  }


  .hp h1 {
      margin: 0;
      padding: 10px;
  }

  .hp p {
    line-height: 25px;
}

.hp {
    margin: 30px;
}

.phone-inner{
  margin:8px;
}

}

@media screen and (max-width: 376px){
  .purple-background {
      width: 57%;
      height: 80%;
      background: #ab3dff;
  }

  .phone-container {
      width: 80%;
      height: 580px;
      right: 25px;
    }
  
  .sam-profile h3 {
        font-size: 11px;
      }

    .text-7 {
    margin-bottom: 8px;
}

.text-4 {
    margin-left: 135px;
  }


}
